<div class="card card-border border-base-300 card-sm w-full">
  <div class="card-body gap-4 flex flex-row">
    <%= search_form_for @q, url: admin_students_path, class: "basis join w-1/5" do |f| %>
    <label class="join-item input-border flex input input-xs items-center gap-2 w-auto">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70 shrink-0"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"></path></svg>
      <%= f.search_field :name_cont, placeholder: "姓名搜索", class: "grow" %>
    </label>
    <%= f.submit "查找", class: "join-item btn btn-xs btn-neutral" %>
    <% end %>

    <div class="basis w-3/5">
      <%= link_to "在班", admin_students_path(filter: "in_class"), method: :get, class: "btn btn-xs btn-outline btn-success #{"btn-active" if params[:filter] == "in_class"}" %>
      <%= link_to "未入班", admin_students_path(filter: "not_in_class"), method: :get, class: "btn btn-xs btn-outline #{"btn-active" if params[:filter] == "not_in_class"}" %>
      <%= link_to "有退课", admin_students_path(filter: "out_class"), method: :get, class: "btn btn-xs btn-outline btn-secondary #{"btn-active" if params[:filter] == "out_class"}" %>
    </div>

    <div class="basis w-3/5">
      <%= render "admin/shared/drawer", item: Student.new, drawer_id: "drawer-student-new", button_name: "添加学员", drawer_width: "180", drawer_content: "admin/students/form" %>
    </div>
  </div>
</div>