<%#= debug @menu_hash.group_by { |mh| mh[:s_n] } %>
<div class="min-h-dvh px-4">
<%= render 'admin/klasses/filter' %>
<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 p-4">
<table class="table table-xs">
  <thead>
    <tr>
      <th>科目</th>
      <th>教师</th>
      <th>班型</th>
      <th>序号</th>
      <th>班级</th>
    </tr>
  </thead>
<tbody>
<% @klasses.order(:genre, :seq).each do |klass| %>
<tr>
  <td><%= klass.subject.name %></td>
  <td><%= klass.teacher.name %></td>
  <td><%= Klass::GENRE_MAP_REVERSE[klass.genre] %></td>
  <td><%= klass.seq %></td>
  <td>
    <%= klass.semester_klasses.map(&:name).join(', ') %>
  </td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>

