<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4 flex flex-row">
  <div>
    <% if @klass %>
    <%= render "admin/shared/drawer", item: @klass, drawer_id: "drawer-klass-show", button_name: "班级详情", drawer_width: "180", drawer_content: "admin/klasses/form" %>
    <% end %>
  </div>
  <div>
    <%= render partial: "admin/shared/drawer", locals: { item: Klass.new, drawer_id: "drawer-klass-new", button_name: "创建班级", drawer_width: "180", drawer_content: "admin/klasses/form" } %>
  </div>
</fieldset>
<div class="flex flex-row min-h-1/2 overflow-auto">
  <div class="basis-1/8 min-h-dvh bg-base-200">
    <%= render "admin/klasses/menu", grades: @grades %>
  </div>
    <div class="basis-7/8">
    <% if @klass %>
    <div class="overflow-x-auto h-4/5">
      <table class="table table-xs table-pin-rows table-pin-cols">
        <thead>
          <tr>
            <th>序号</th>
            <th>姓名</th>
          </tr>
        </thead>
        <tbody>
          <% @klass.students.order(:name).each.with_index(1) do |student, index| %>
            <tr>
              <td><%= index %></td>
              <td><%= student.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
      <div class="flex justify-center items-center h-full">
        <p class="text-lg text-center">请选择班级</p>
      </div>
    <% end %>
  </div>

</div>

