<%= form_with(model: item, url: admin_school_path(item), method: :put, data: { controller: "campuses grade-subjects semesters user-campuses" }) do |form| %>
<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
  <legend class="fieldset-legend">学校详情</legend>
  <label class="label">校名</label>
  <%= form.text_field :name, class: "input w-full", placeholder: "请输入学校名称" %>
</fieldset>

<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4 mt-4">
  <legend class="fieldset-legend">校区管理</legend>
  
  <!-- 校区列表 -->
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th>校区名称</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody data-campuses-target="tbody">
      <!-- 现有校区 --> 
      <%= form.fields_for :campuses, item.campuses do |campus_form| %>
        <tr id="campus_<%= campus_form.object.id %>">
          <td>
            <%= campus_form.hidden_field :id %>
            <%= campus_form.hidden_field :_destroy %>
          </td>
          <td>
            <%= campus_form.text_field :name, class: "input input-xs", placeholder: "校区名称", required: true %>
          </td>
          <td>
            <button type="button" data-action="campuses#deleteRow" class="btn btn-xs btn-error">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <!-- 添加校区按钮 -->
  <div class="flex justify-between items-center mt-4">
    <button type="button" data-action="campuses#addRow" class="btn btn-sm btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      添加校区
    </button>
  </div>
  
  <!-- 新校区模板 -->
  <template data-campuses-target="template">
    <%= form.fields_for :campuses, Campuse.new, child_index: "new_campus" do |campus_form| %>
      <tr id="campus_new">
        <td>
          <%= campus_form.hidden_field :id %>
          <%= campus_form.hidden_field :_destroy %>
        </td>
        <td>
          <%= campus_form.text_field :name, class: "input input-xs", placeholder: "校区名称", required: true %>
        </td>
        <td>
          <button type="button" data-action="campuses#deleteRow" class="btn btn-xs btn-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </td>
      </tr>
    <% end %>
  </template>
</fieldset>

<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4 mt-4">
  <legend class="fieldset-legend">年级科目管理</legend>
  
  <!-- 年级科目关联列表 -->
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th>年级</th>
        <th>科目</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody data-grade-subjects-target="tbody">
      <!-- 现有年级科目关联 -->
      <%= form.fields_for :grade_subjects, item.grade_subjects do |grade_subject_form| %>
        <tr id="grade-subject-<%= grade_subject_form.object.id %>">
          <td>
            <%= grade_subject_form.hidden_field :id %>
            <%= grade_subject_form.hidden_field :_destroy %>
          </td>
          <td>
            <%= grade_subject_form.collection_select :grade_id, Grade.all, :id, :name, { prompt: "选择年级" }, { class: "select select-xs", required: true } %>
          </td>
          <td>
            <%= grade_subject_form.collection_select :subject_id, Subject.all, :id, :name, { prompt: "选择科目" }, { class: "select select-xs", required: true } %>
          </td>
          <td>
            <button type="button" data-action="grade-subjects#deleteRow" class="btn btn-xs btn-error">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <!-- 添加年级科目关联按钮 -->
  <div class="flex justify-between items-center mt-4">
    <button type="button" data-action="grade-subjects#addRow" class="btn btn-sm btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      添加年级科目
    </button>
  </div>
  
  <!-- 新年级科目关联模板 -->
  <template data-grade-subjects-target="template">
    <%= form.fields_for :grade_subjects, GradeSubject.new, child_index: "new_grade_subject" do |grade_subject_form| %>
      <tr id="grade-subject-new">
        <td>
          <%= grade_subject_form.hidden_field :id %>
          <%= grade_subject_form.hidden_field :_destroy %>
        </td>
        <td>
          <%= grade_subject_form.collection_select :grade_id, Grade.all, :id, :name, { prompt: "选择年级" }, { class: "select select-xs", required: true } %>
        </td>
        <td>
          <%= grade_subject_form.collection_select :subject_id, Subject.all, :id, :name, { prompt: "选择科目" }, { class: "select select-xs", required: true } %>
        </td>
        <td>
          <button type="button" data-action="grade-subjects#deleteRow" class="btn btn-xs btn-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </td>
      </tr>
    <% end %>
  </template>
</fieldset>

<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4 mt-4">
  <legend class="fieldset-legend">学期管理</legend>
  
  <!-- 学期列表 -->
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th>学期名称</th>
        <th>开始日期</th>
        <th>结束日期</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody data-semesters-target="tbody">
      <!-- 现有学期 -->
      <%= form.fields_for :semesters, item.semesters do |semester_form| %>
        <tr id="semester-<%= semester_form.object.id %>">
          <td>
            <%= semester_form.hidden_field :id %>
            <%= semester_form.hidden_field :_destroy, value: "false" %>
          </td>
          <td>
            <%= semester_form.text_field :name, class: "input input-xs", placeholder: "学期名称", required: true %>
          </td>
          <td>
            <%= semester_form.date_field :start_date, class: "input input-xs", required: true %>
          </td>
          <td>
            <%= semester_form.date_field :end_date, class: "input input-xs", required: true %>
          </td>
          <td>
            <button type="button" data-action="semesters#deleteRow" class="btn btn-xs btn-error">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <!-- 添加学期按钮 -->
  <div class="flex justify-between items-center mt-4">
    <button type="button" data-action="semesters#addRow" class="btn btn-sm btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      添加学期
    </button>
  </div>
  
  <!-- 新学期模板 -->
  <template data-semesters-target="template">
    <%= form.fields_for :semesters, Semester.new, child_index: "new_semester" do |semester_form| %>
      <tr id="semester-new">
        <td>
          <%= semester_form.hidden_field :id %>
          <%= semester_form.hidden_field :_destroy %>
        </td>
        <td>
          <%= semester_form.text_field :name, class: "input input-xs", placeholder: "学期名称", required: true %>
        </td>
        <td>
          <%= semester_form.date_field :start_date, class: "input input-xs", required: true %>
        </td>
        <td>
          <%= semester_form.date_field :end_date, class: "input input-xs", required: true %>
        </td>
        <td>
          <button type="button" data-action="semesters#deleteRow" class="btn btn-xs btn-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </td>
      </tr>
    <% end %>
  </template>
</fieldset>

<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4 mt-4">
  <legend class="fieldset-legend">用户校区关联管理</legend>
  
  <!-- 用户校区关联列表 -->
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th>用户</th>
        <th>校区</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody data-user-campuses-target="container">
      <!-- 现有用户校区关联 -->
      <%= form.fields_for :user_campuses, item.user_campuses do |user_campus_form| %>
        <tr id="user-campus-<%= user_campus_form.object.id %>" class="nested-fields" data-new-record="false">
          <td>
            <%= user_campus_form.hidden_field :id %>
            <%= user_campus_form.hidden_field :school_id, value: item.id %>
            <%= user_campus_form.hidden_field :_destroy, value: "false" %>
          </td>
          <td>
            <%= user_campus_form.collection_select :user_id, User.all, :id, :name, { prompt: "选择用户" }, { class: "select select-xs", required: true } %>
          </td>
          <td>
            <%= user_campus_form.collection_select :campuse_id, item.campuses, :id, :name, { prompt: "选择校区" }, { class: "select select-xs", required: true } %>
          </td>
          <td>
            <button type="button" data-action="user-campuses#remove" class="btn btn-xs btn-error">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <!-- 添加用户校区关联按钮 -->
  <div class="flex justify-between items-center mt-4">
    <button type="button" data-action="user-campuses#add" class="btn btn-sm btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      添加用户校区关联
    </button>
  </div>
  
  <!-- 新用户校区关联模板 -->
  <template data-user-campuses-target="template">
    <%= form.fields_for :user_campuses, UserCampuse.new, child_index: "NEW_RECORD" do |user_campus_form| %>
      <tr id="user-campus-new" class="nested-fields" data-new-record="true">
        <td>
          <%= user_campus_form.hidden_field :id %>
          <%= user_campus_form.hidden_field :school_id, value: item.id %>
          <%= user_campus_form.hidden_field :_destroy, value: "false" %>
        </td>
        <td>
          <%= user_campus_form.collection_select :user_id, User.all, :id, :name, { prompt: "选择用户" }, { class: "select select-xs", required: true } %>
        </td>
        <td>
          <%= user_campus_form.collection_select :campuse_id, item.campuses, :id, :name, { prompt: "选择校区" }, { class: "select select-xs", required: true } %>
        </td>
        <td>
          <button type="button" data-action="user-campuses#remove" class="btn btn-xs btn-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </td>
      </tr>
    <% end %>
  </template>
</fieldset>

<%= form.submit "保存", class: "btn btn-primary mt-4" %>

<% end %>