<%= form_with model: SemesterKlass.new, url: copy_create_admin_semester_klasses_path, local: true do |f| %>
<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
  <legend class="fieldset-legend">复制 <%= item.name %>到本学期</legend>
  <div class="flex flex-row gap-2">
    <div class="basic w-1/2">
      <legend class="fieldset-legend">班级信息</legend>
      <%= f.hidden_field :semester_id, value: Thread.current[:semester].id %>
      <fieldset class="fieldset">
        <label class="select select-sm">
          <span class="label">班型</span>
          <%= f.collection_select :genre, SemesterKlass::GENRE_MAP.to_a, :last, :first, class: "select select-sm", value: item&.genre %>
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="input input-sm">
          <span class="label">序号</span>
          <%= f.number_field :seq, class: "grow", value: item.seq %>
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="select select-sm">
          <span class="label">年级</span>
          <%= f.select :grade_id, Current.user.grades_by_campuse(Thread.current[:campuse].id).map { |grade| [grade.name, grade.id] },
          { include_blank: false, selected: item.grade_id }, class: "select select-sm" %>
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="select select-sm">
          <span class="label">教师</span>
          <% options = option_groups_from_collection_for_select(Subject.all, :teachers, :name, :id, :name, item.teacher_id) %>
          <%= f.select :teacher_id, options, class: "select select-sm" %>
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="input input-sm">
          <span class="label">课次</span>
          <%= f.number_field :times, class: "grow", value: item.times %>
        </label>
      </fieldset>
    </div>
    <div class="basis-1/2">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">班级学员</legend>
        <%= f.text_area :students_text, class: "textarea h-128", value: item.students_text %>
      </fieldset>
    </div>
  </div>
  <%= f.submit "复制到当前学期", class: "btn btn-sm btn-primary" %>
</fieldset>
<% end %>