<%= form_with model: item, url: insert_students_admin_semester_klass_course_path(item.semester_klass, item), method: :post, class: "w-full" do |form| %>
<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-2">
<legend class="fieldset-legend">添加学员</legend>
  <div class="flex flex-row">
    <div class="basis-1/2">
      <legend class="fieldset-legend">班级信息</legend>
      <fieldset class="fieldset">
        <label class="input input-sm">
          <span class="label">班型</span>
          <%= form.text_field :genre, value: SemesterKlass::GENRE_MAP_REVERSE[item.semester_klass.genre], disabled: true %>
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="input input-sm">
          <span class="label">序号</span>
          <%= form.number_field :seq, class: "grow", placeholder: "序号", oninput: "this.value = this.value.replace(/4/g, '')", value: item.semester_klass.seq, disabled: true %>
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="input input-sm">
          <span class="label">年级</span>
          <%= form.text_field :grade, value: item.semester_klass.grade.name, disabled: true %>
          <%#= form.select :grade_id, Current.user.grades_by_campuse(Thread.current[:campuse].id).map { |grade| [grade.name, grade.id] }, class: "select select-sm", value: item&.grade_id %>
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="input input-sm">
          <span class="label">教师</span>
          <%= form.text_field :teacher, value: item.semester_klass.subject.name + " " + item.semester_klass.teacher.name, disabled: true %>
          <%#= form.select :teacher_id, option_groups_from_collection_for_select(Subject.all, :teachers, :name, :id, :name, item.teacher_id), class: "select select-sm" %>
        </label>
      </fieldset>

      <fieldset class="fieldset">
        <label class="input input-sm">
          <span class="label">课次</span>
          <%= form.number_field :times, class: "grow", placeholder: "课次", value: item.semester_klass.times, disabled: true %>
        </label>
      </fieldset>

    </div>
    <div class="basis-1/2">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">班级学员</legend>
        <%= form.text_area :students_text, class: "textarea h-128", placeholder: "请输入学员姓名, 每个姓名占一行\n示例：\n张三\n李四\n王五" %>
      </fieldset>
    </div>
  </div>
  
  <%= form.submit "添加学员", class: "btn btn-xs btn-primary" %>
</fieldset>
<% end %>