<ul class="menu bg-base-200 rounded-box w-56">
  <% grades.each do |grade| %>
    <li class="<%= "menu-disabled" if grade.semester_klasses.where(semester_id: Thread.current[:semester].id).empty? %>">
      <details <%= "open" if grade.semester_klasses.present? && @sk.in?(grade.semester_klasses) %>>
        <summary><%= grade.name %></summary>
        <ul>
          <% grade.subjects.each do |subject| %>
          <li class="<%= "menu-disabled" if @sks.where(subject_id: subject.id, grade_id: grade.id ).empty? %>">
            <details <%= "open" if @sks.where(subject_id: subject.id, grade_id: grade.id ).any? && @sk.in?(@sks.where(subject_id: subject.id, grade_id: grade.id )) %>>
              <summary><%= subject.name %></summary>
              <ul>
                <% @sks.where(subject_id: subject.id, grade_id: grade.id ).order(:seq).each do |sk| %>
                  <li class="<%= "menu-active" if sk == @sk %>"><%= link_to "#{sk.name}(#{sk.teacher.name})", admin_semester_klass_path(sk.id) %></li>
                <% end %>
              </ul>
            </details>
          </li>
          <% end %>
        </ul>
      </details>
    </li>
  <% end %>
</ul>