<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4 flex flex-row">
  <div>
    <% if @sk %>
    <%= render "admin/shared/drawer", item: @sk, drawer_id: "drawer-klass-show", button_name: "班级详情", drawer_width: "180", drawer_content: "admin/semester_klasses/form" %>
    <% end %>
  </div>
  <div>
    <%= render partial: "admin/shared/drawer", locals: { item: SemesterKlass.new, drawer_id: "drawer-klass-new", button_name: "开班", drawer_width: "180", drawer_content: "admin/semester_klasses/form" } %>
  </div>
  <div>
    <%= link_to "复制历史班级", copy_admin_semester_klasses_path(), class: "btn btn-xs btn-info" %>
  </div>
</fieldset>
<div class="flex flex-row min-h-1/2 overflow-auto">
  <div class="basis-1/8 min-h-dvh bg-base-200">
    <%= render "admin/semester_klasses/menu", grades: @grades %>
  </div>
  <div class="basis-7/8 w-full flex flex-row">
    <div class="overflow-x-auto w-full rounded-box border border-base-content/5 bg-base-100">
      <table class="table table-sm">
        <!-- head -->
        <thead>
          <tr>
            <th>学员</th>
            <% @sk.courses.each do |course| %>
            <th>第<%= course.seq %>课</th>
            <% end %>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @sk.klass_students.each do |ks| %>
          <tr>
            <th><%= ks.student.name %></th>
            <% @sk.courses.each do |course| %>
            <td>
              <% if course.started? %>
              <%= render "admin/semester_klasses/attendance_dropdown", semester_klass_student: ks, course: course, student: ks.student, attendance: course.attendances.find_by(klass_student: ks) %>
              <% else %>
              未开课
              <% end %>
            </td>
            <% end %>
            <td>
              <%= button_to "删除", admin_semester_klass_klass_student_path(@sk, ks), method: :delete, data: { confirm: 'sure?'}, class: "btn btn-xs btn-secondary" %>
            </td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <% if @sk.students.exists?%>
              <% @sk.courses.each do |course| %>
                <td>
                  <% if course.started? %>
                  <%= button_to "已开课", start_admin_semester_klass_course_path(@sk, course), method: :put, class: "btn btn-xs btn-primary btn-disabled" %>
                  <% else %>
                  <%= button_to "开课", start_admin_semester_klass_course_path(@sk, course), method: :put, class: "btn btn-xs btn-primary" %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

